            body {
                background-color: rgba(182, 237, 242, 0.614);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                header {
                    text-align: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    z-index: 1;
                    overflow: hidden;
                    color: rgb(250, 244, 244);
                    padding: 15px;
                    background-color: rgb(16, 17, 16);
                    h1 {
                        font-variant: small-caps;
                        font-family: cursive;
                        font-size: 22px;
                    }
                }
                main {
                    // letter-spacing: 4px;
                    position: absolute;
                    top: 180px;
                    .v-link {
                        color: blue;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .pass {
                        font-weight: 700;
                    }
                    .code {
                        font-style: italic;
                    }
                    .notes {
                        color: black;
                        background-color: white;
                        padding: 5px;
                        margin: 0 0 0 15px;
                        border-radius: 5px;
                        text-decoration: none;
                    }
                    .notes:hover {
                        color: rgb(248, 244, 244);
                        background-color: rgb(58, 114, 158);
                        padding: 7px;
                        margin: 0 0 0 19px;
                        border-radius: 5px;
                    }
                }
                footer {
                    color: aliceblue;
                    background-color: red;
                }
            }